@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  height: 200px; /* Set the desired height for the scrollable container */
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}

